backports.weakref==1.0rc1
beautifulsoup4==4.6.0
bleach==1.5.0
click==6.7
Flask==0.12.2
Flask-HTTPAuth==3.2.2
funcsigs==1.0.2
html5lib==0.9999999
itsdangerous==0.24
Jinja2==2.9.6
Markdown==2.6.8
MarkupSafe==1.0
mock==2.0.0
nltk==3.2.4
numpy==1.13.1
pbr==3.1.1
protobuf==3.3.0
PyYAML==3.12
six==1.10.0
tensorflow==1.2.1
virtualenv==15.1.0
Werkzeug==0.12.2
